body{
    margin: auto;
    padding: 0;
}

.container{
    max-width: 500px !important;
    height: 100vh;
    margin: auto;
    /* margin-top: 4%; */
    font-family: sans-serif;
    letter-spacing: .5px;
    border: 1px solid #9b9b9b;
    border-radius: 20px;
    position: relative;
}

img{
    max-width: 100%;
    border-radius: 50%;
}

.msg-header{
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(241, 241, 241);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.msg-header-img{
    border-radius: 50%;
    width: 50px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95px;
}

.active{
    display: flex;
    align-items: center;
    width: 100%;
}

.active h4{ 
    font-size: 20px;
    font-weight: 700;
    color: #9b9b9b;
    margin: 0 !important;
    padding: 10px;
}

.active h4:hover{
    color: rgba(0, 0, 0,.7);
}

.active h6{
    font-size: 10px;
    margin-left: 10px;
    line-height: 2px;
    color: #fff;
    margin: 0 !important;
    padding: .7rem 0 0 0;
}

.header-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:15px;
}

.header-icons .fas{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #9b9b9b;
    cursor: pointer;
    margin: 10px;
}

.header-icons .fas:hover{
    color: rgba(0, 0, 0,.7);
}

.chat-page{
    padding: 0 0 10px 0;
}

.msg-inbox{
    /* border-bottom: 1px solid rgb(107, 7, 7); */
    overflow: auto;
    height: 570px;

}

.chats{
    padding: 10px 15px 0 15px;
}

.msg-page{
    overflow-y: auto;
}

.received-chats{
    display: flex;
    flex-wrap: nowrap;
}

.received-chats-img{
    display:flex;
    width: 13%;
    justify-content: flex-start;
    align-items: center;
}

.received-msg{
    /* display: flex; */
    padding: 15px 0 0 15px;
    vertical-align:middle;
    /* align-items: center; */
    width: 100%;
}

.received-msg-info{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.received-msg-info h3{
    font-size: 17px;
    margin: 0 !important;
    padding: 20px 3px 0;
}

.received-msg-info .time{
    display: flex;
    justify-content: flex-end;
    color: #777;
    font-size: 12px;
    margin: 0 !important;
    padding: 20px 3px 0;
    margin-left: 3rem;
}

.received-msg-inbox p{
    background: #f9f8f8 none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 17px;
    /* margin: 0 !important; */
    padding: 10px 10px;
    width: 85%;
    margin-top: 0.5rem !important;
    
}

.received-msg-inbox .icons-msg{
    margin-left: 2px!important;
}

.received-msg-inbox .icons-msg .far{
    margin-left: 10px;
    color: #9b9b9b;
}

.received-msg-inbox .icons-msg .far:hover{
    color: #f01010;
    fill: #f01010 !important;
}

.received-msg-inbox .icons-msg .far span{
    padding: 0 10px;
    color: #9b9b9b;
}


.received-msg-inbox .icons-msg .fas{
    margin-left:3rem;
    color: #8a06be;
    
}

.received-msg-inbox .icons-msg .fas span{
    padding: 0 10px;
    color: #8a06be;
}

.time{
    color: #777;
    display: block;
    font-size: 12px;
    margin: 5px 0 0;
}
/* ------------------------------------------------------------ */
.outgoing-chats{
    padding: 7px 15px 0 7px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 3rem;
    
}


/* .msg-page{
    height: 516px;
    overflow-y: auto;
} */

.outgoing-chats-img{
    display:flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;

}

.outgoing-msg{
    padding: 15px 0 0 15px;
    vertical-align:middle;
    width: 100%;
}

.outgoing-msg-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outgoing-msg-info h3{
    font-size: 17px;
    margin: 0 !important;
    padding: 20px 3px 0;
}

.outgoing-msg-info .time{
    color: #777;
    font-size: 12px;
    margin: 0 !important;
    padding: 20px 3px 0;
    margin-left: 2rem;
    margin-right: 10px !important;
}

.outgoing-msg-inbox{
    width: 100%;
    margin-top: 1rem;
}

.outgoing-msg-inbox p{
    background: #f9f8f8 none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 17px;
    /* margin: 0 !important; */
    padding: 10px 10px;
    width: 85%;
    margin-top: 0.5rem !important;
    width: 280px;
    
}

.div-icons-msg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 75%;
}

.icons-msg-like{
    outline: none;
    border: none;
    background-color: #fff;
    font-weight: 800;
    font-family: sans-serif;
}

.icons-msg-reply{
    outline: none;
    border: none;
    background-color: #fff;
    color: #8a06be;
    font-weight: 800;
    font-family: sans-serif;
}

.icons-msg-like .icon-heart:hover{
    fill: red;
    color: red;
}

.bottom-block{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; */
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ccc;
    width: 100%;
    /* padding: 5px; */
}

.msg-bottom{
    height:50px;
    background-color: #efeef4;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
}

.bottom-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.bottom-icons .fas{
    color: #6d6c6c;
    padding: 5px;
    font-size: 30px;
}

.input-group{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* flex-direction: column; */
    margin: 5px 20px;
    outline: none !important;
    border-radius: 20px;
    width: 340px !important;
    background-color: #fff;
    border: 1px solid #9b9b9b;
    /* transform: translateY(5px); */
    
}

.form-control{
    border: none !important;
    border-radius: 20px !important;
    justify-content: flex-end;
    /* justify-content: center; */
    width: 100%;
    padding: 3px 15px 3px 10px;
    margin-bottom: 5px;
}

.form-control:focus{
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 20px;
    outline: none;
}

.input-group-icon{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 1rem;
    align-items: center;
}

.input-group-icon a{
    text-decoration: none;
}

.input-group .fas{
    color: #9b9b9b;
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    /* flex-wrap: nowrap; */
}



